---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About Me";
const skills = ["Coding", "Design", "Strategy"];
const skillColor = "green";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
		  </style>
	</head>
	<body>
		<Header/>
		<h1>My Astro Site</h1>
		<h1>About Me</h1>
		<h2>... and my new Astro site!</h2>
		
		<p>My skills are:</p>
		<ul>
		{
			skills.map(skill => <li class="skill">{skill}</li>)
		}
		</ul>
		<Footer/>
	</body>
    <script>
		import "../scripts/menu.js";
	</script>
</html>
