---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
const skills = ["Coding", "Design", "Strategy"];
---
<BaseLayout pageTitle = {pageTitle}>
	<h2>... and my new Astro site!</h2>
	<p>My skills are:</p>
	<ul>
	{
		skills.map(skill => <li class="skill">{skill}</li>)
	}
	</ul>
</BaseLayout>
